<.root_html>
  <%= if @current_user do %>
    <.link id="log-out-link" class="hidden" href={~p"/users/log_out"} method="delete">
      Log out
    </.link>
  <% end %>
  <%= @inner_content %>
</.root_html>
