<.root_html>
  <%= if @current_user do %>
    <div style="display: none;">
      <.link id="log-out-link" href={~p"/users/log_out"} method="delete">
        Log out
      </.link>
    </div>
  <% else %>
    <.DataClearer />
  <% end %>
  <%= @inner_content %>
</.root_html>
